name: Build Android APK
on: push

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: Install Bubblewrap
        run: npm install -g @bubblewrap/cli

      - name: Initialize and Build
        # Мы используем --yes прямо в командах и скармливаем их через конвейер
        run: |
          # 1. Создаем проект (отвечаем 'y' на всё)
          echo "y" | bubblewrap init --manifest="https://kirillhappy.github.io/hindi-app/manifest.json" --yes
          
          # 2. Собираем проект
          echo "y" | bubblewrap build --skipSigning --yes

      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: HindiApp
          # Ищем любой созданный apk в текущей папке
          path: ./*.apk
