name: Build Android APK
on: push

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: Initialize and Build
        run: |
          mkdir -p ~/.bubblewrap
          echo "{\"jdkPath\":\"$JAVA_HOME\",\"androidSdkPath\":\"/home/runner/android-sdk\"}" > ~/.bubblewrap/config.json
          
          yes | npx @bubblewrap/cli init --manifest="https://kirillhappy.github.io/hindi-app/manifest.json" --yes
          yes | npx @bubblewrap/cli build --skipSigning --yes

      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: HindiApp
          path: ./*.apk
