name: Build Android APK
on:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Install Bubblewrap
        run: npm install -g @bubblewrap/cli

      - name: Initialize and Build APK
        run: |
          # Используем внутренний флаг --yes самого bubblewrap
          bubblewrap init --manifest="https://kirillhappy.github.io/hindi-app/manifest.json" --yes
          
          # Сборка: отвечаем "да" на лицензии и пропускаем подпись
          yes | bubblewrap build --skipSigning

      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: my-hindi-app-apk
          path: ./*.apk
