name: Build Android APK
on: push

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: Install Bubblewrap
        run: npm install -g @bubblewrap/cli

      - name: Create App
        run: |
          # Сначала создаем проект из ссылки (init)
          # А потом сразу собираем его (build)
          # 'yes' ответит на все вопросы за нас
          yes | bubblewrap init --manifest="https://kirillhappy.github.io/hindi-app/manifest.json" --yes
          yes | bubblewrap build --skipSigning
