name: Build Android APK
on: push

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: Install Bubblewrap
        run: npm install -g @bubblewrap/cli

      - name: Create App
        run: |
          # Используем флаг --yes, который сам отвечает на вопросы
          bubblewrap init --manifest="https://kirillhappy.github.io/hindi-app/manifest.json" --yes
          # Сборка без бесконечного потока ответов
          bubblewrap build --skipSigning --yes
