name: Build Android APK
on: push

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: Build TWA (APK)
        # Это готовый робот-сборщик, он не задает лишних вопросов
        uses: fluxer/bubblewrap-action@v1
        with:
          manifestUrl: 'https://kirillhappy.github.io/hindi-app/manifest.json'

      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: MyHindiApp
          path: output/*.apk
