name: Build Android APK (TWA)
on:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4 # Обновлено до v4

      - name: Setup Node.js
        uses: actions/setup-node@v4 # Обновлено до v4
        with:
          node-version: 20

      - name: Install Bubblewrap
        run: npm install -g @bubblewrap/cli

      - name: Initialize and Build APK
        # Замени URL ниже на реальный адрес твоего сайта или GitHub Pages
        run: |
          yes | bubblewrap init --manifest=https://https://kirillhappy.github.io/hindi-app/
          bubblewrap build --skipSigning
        # Мы добавили --skipSigning, чтобы сборка не упала из-за отсутствия ключей

      - name: Upload APK
        uses: actions/upload-artifact@v4 # Исправлено на v4!
        with:
          name: app-release-apk
          path: ./*.apk
